__pycache__/
*.pyc
.venv/
.vscode/
.DS_Store

data/bronze/**/*.csv
data/bronze/**/*.csv.gz
data/bronze/**/*.json

data/silver/**/*.parquet
data/gold/**/*.parquet

site/data/*.csv
site/data/*.json
site/data/*.parquet

!.gitkeep
