__pycache__/
*.pyc
.venv/
.vscode/
.DS_Store

data/silver/**/*.parquet
data/gold/**/*.parquet

# bronze: vogliamo tracciare i raw compressi + meta
# se vuoi ignorare i csv non compressi, lascia solo la riga .csv
data/bronze/**/*.csv

# non ignorare questi
!data/bronze/**/*.csv.gz
!data/bronze/**/*.json

# pages: ora pubblichi da docs, quindi non serve più ignorare site/data
site/

!.gitkeep
